[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pillow = "*"
reportlab = "*"
canvas = "*"
django-crispy-forms = "*"
pip = "*"
django-allauth = "*"
environs = {extras = ["django"], version = "*"}
django-allauth-templates-bootstrap4 = "*"
django-i18n = "*"
django-l10n = "*"
django-translate = "*"
path = "*"
django-urls = "*"
django-merged-inlines = "*"

[requires]
python_version = "3.8"
