appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
distlib==0.3.1
dj-database-url==0.5.0
dj-email-url==1.0.1
Django==3.1.1
django-bootstrap4==2.2.0
django-cache-url==3.1.2
django-crispy-forms==1.9.2
django-fontawesome==1.0
django-heroku==0.3.1
django-phone-field==1.8.1
djangorestframework==3.11.1
environs==8.0.0
filelock==3.0.12
fontawesome==5.10.1.post1
gunicorn==20.0.4
idna==2.10
marshmallow==3.7.1
Pillow==7.2.0
pipenv==2020.8.13
psycopg2==2.8.5
psycopg2-binary==2.8.5
python-dotenv==0.14.0
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.10
virtualenv==20.0.31
virtualenv-clone==0.5.4
whitenoise==5.2.0
