html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}

#base-navbar {
    background: #092532;
    text-transform: uppercase;
}

#base-navbar a {
    color: #e1ffc2 !important;
}

#base-navbar a:hover {
    color: #89c9b8 !important;
    opacity: 0.5;
}

#base-navbar img {
    position: relative;
    width: 130px;
    background-size: contain;
}

#top-header-section {
    background: #c7e2b2;
    color: #092532 !important;
}

#home-heading {
    background-image: url('../images/chicago.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#about-scalp {
    background: #89c9b8;
}

#about-scalp a {
    color: #e1ffc2 !important;
}

#about-scalp a:hover {
    color: #c7e2b2 !important;
}

#main-footer {
    background: #092532;
    color: #e1ffc2;
    width: 100%;
    position: absolute;
}

.btn-group-xs > .btn, .btn-xs {
    background: #89c9b8 !important;
    color: #e1ffc2 !important;
    font-weight: 700;
    font-stretch: extra-expanded !important;
    border: none;
}

#contactModal .modal-header {
    background: #092532;
    color: #e1ffc2;
    font-weight: bolder;
}

#contactModal .btn {
    background: #89c9b8;
    color: #e1ffc2;
    font-weight: bolder;
}

.wrapper {
    min-height: 100%;
}

.wrapper #about-heading{
    background: #89c9b8;
    height: 200px !important;
    min-height: 50%;
}


