html {
    position: relative;
    min-height: 100%;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}

body {
    min-height: 700px;
}

#base-navbar {
    background: #092532;
    text-transform: uppercase;
}

#base-navbar a {
    color: #e1ffc2 !important;
}

#base-navbar a:hover {
    color: #89c9b8 !important;
    opacity: 0.5;
}

#base-navbar img {
    position: relative;
    width: 130px;
    background-size: contain;
}

/* HOMEPAGE */
.avatar {
    height: 300px;
    width: auto;
}


#top-header-section {
    background: #c7e2b2;
    color: #092532 !important;
}

#homepage .background-img {
    padding: 0 !important;
    margin-left: -20px !important;
    height: 100%;
    width: 100% !important;
    position: relative;
    background-repeat: repeat;
}

#job-description img {
    width: 40%;
    height: auto;
}

#job-description .about-card {
    border: none;
}

#job-description li {
    margin-bottom: 8px;
}

#career-form .btn {
    background: #e1ffc2;
    color: #092532;
    font-weight: bolder;
    border-color: #092532;
    border-radius: 16px;
}

#login-button {
    background: #e1ffc2;
    color: #092532;
    border-color: #092532;
    border-radius: 16px !important;
    width: 100% !important;
    font-weight: bolder;
}

#career-form textarea {
    width: 100%;
    height: 150px;
}

#career-form .card {
    border: none!important;
}


.custom-control-label::before,
.custom-control-label::after {
    top: .8rem;
    width: 1.25rem;
    height: 1.25rem;
}

/*FOOTER*/
#base-footer footer {
    font-size: .8em;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #092532 !important;
    color: #e1ffc2;
}
