{#LOAD BASE HTML#}
{% extends '_base.html' %}

{% block title %}About Us{% endblock title %}

{% block content %}

    <!--ABOUT HEADING SECTION-->
    <div class="wrapper" id="about-heading">
        <div class="container">
            <section class="p-5">
                <div class="row mb-4">
                    <div class="blockquote">
                        <h1>Are You Ready To Get Started</h1>
                        <p class="d-none d-md-block h-100">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            Ab
                            eveniet id
                            molestiae. Beatae eum nemo, officia praesentium quod reiciendis suscipit?</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="push"></div>
{% endblock content %}