{% extends '_base.html' %}

{% block content %}
    <h1 class="text-left">About Page</h1>
    <p>Scalp Trade is a proprietary trading firm that was formed over 10 years ago.
        During this time, Scalp has expanded its core business of options trading to include virtually
        every asset class of exchange-traded products. One of our goals is to create more efficient markets
        through technology, innovation, and providing needed liquidity, while creating tighter spreads. The Scalp
        team is built on the foundation of collaboration, diversity and innovation; we work hard to foster a culture
        that our team truly enjoys. As Scalp continues to grow, we are always looking for those who are technology
        oriented, embrace challenges and enjoy problem solving. While we are committed to critical thinking, we want
        more than a degree. We really focus on the intangibles; we embrace individuals with grit, self-motivation,
{% endblock content %}