{#LOAD BASE HTML#}
{% extends '_base.html' %}

{% block title %}Homepage{% endblock title %}

{% block content %}

    <!--HOME HEADING SECTION-->
    <div class="wrapper">
        <div class="container">
            <section class="p-5" id="home-heading">
                <div class="row mb-4">
                    <div class="col-md-6 m-auto text-center">
                        <div class="container pt-5 text-center">
                            <h1>Are You Ready To Get Started</h1>
                            <p class="d-none d-md-block h-100">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Ab
                                eveniet id
                                molestiae. Beatae eum nemo, officia praesentium quod reiciendis suscipit?</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <div class="push"></div>
    </div>
    <section id="top-header-section" class="pt-3 pb-2">
        <div class="container">
            <h2 class="text-center">Testimonials</h2>
            <div class="row text-center ">
                <div class="col">
                    <div class="slider">
                        <div>
                            <blockquote class="blockquote">
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
                                </p>
                                <footer class="blockquote-footer">John Doe From
                                    <cite title="Company 1">Company 1</cite>
                                </footer>
                            </blockquote>
                        </div>
                        <div>
                            <blockquote class="blockquote">
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
                                </p>
                                <footer class="blockquote-footer">Sam Smith From
                                    <cite title="Company 2">Company 2</cite>
                                </footer>
                            </blockquote>
                        </div>
                        <div>
                            <blockquote class="blockquote">
                                <p class="mb-0">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
                                </p>
                                <footer class="blockquote-footer">Meghan Williams From
                                    <cite title="Company 3">Company 3</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}