{% extends '_base.html' %}
{% block title %}Scalp Trade Applicants{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="mt-3">List of Jobs</h1>
        {% for job in job_list %}
            <div class="row">
                <div class="col">
                    <a href="{% url 'job_detail' job.pk %}">
                        <p class="lead">
                            {{ job.title }}
                        </p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}