{% extends '_base.html' %}
{% block title %}Scalp Trade Applicants{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-3">Available Positions</h1>
        <div class="row ml-4 pl-5">
            {% for job in job_list %}
                <div class="col ml-5 pl-5">
                    <a href="{{ job.get_absolute_url }}">
                        <h3 class="mt-5 ml-5">{{ job.title }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}