{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Careers{% endblock title %}

{% block content %}

    <h1>Join Our Team</h1>
    <form action="{% url 'applicant_list' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>


    {#    <section id="career-form">#}
    {#        <form action="{% url 'home' %}" method="post">#}
    {#            {% csrf_token %}#}
    {#            <div class="container mt-5">#}
    {#                <div class="card p-1">#}
    {#                    <div class="card-body">#}
    {#                        <h1 class="text-center p-3">Join Our Team</h1>#}
    {#                        <hr>#}
    {#                        <div class="row">#}
    {#                            <div class="col-md-6">#}
    {#                                <div class="form-group">#}
    {#                                    <input type="text" class="form-control" placeholder="First Name*" required>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-md-6">#}
    {#                                <div class="form-group">#}
    {#                                    <input type="text" class="form-control" placeholder="Last Name*" required>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-md-6">#}
    {#                                <div class="form-group">#}
    {#                                    <input type="text" class="form-control" placeholder="Email*" required>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-md-6">#}
    {#                                <div class="form-group">#}
    {#                                    <input type="text" class="form-control" placeholder="Phone Number*" required>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col">#}
    {#                                <div class="form-group">#}
    {#                                    <div class="custom-file">#}
    {#                                        <input type="file" class="form-control custom-file-input" id="customFile"#}
    {#                                               required>#}
    {#                                        <label class="form-control custom-file-label" for="customFile">Resume#}
    {#                                            File*</label>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col">#}
    {#                                <div class="form-group">#}
    {#                                    <div class="custom-file">#}
    {#                                        <input type="file" class="form-control custom-file-input" id="customFile">#}
    {#                                        <label class="form-control custom-file-label" for="customFile">Cover Letter#}
    {#                                            (optional)</label>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="row">#}
    {#                            <div class="col-md-12">#}
    {#                                <div class="form-group">#}
    {#                                    <textarea class="form-control" placeholder="Non-compete/Notice period comments*"#}
    {#                                              required></textarea>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-md-12">#}
    {#                                <div class="form-group">#}
    {#                                    <div class="custom-control form-control-lg custom-checkbox">#}
    {#                                        <input type="checkbox" class="custom-control-input" id="customCheck1">#}
    {#                                        <label class="custom-control-label" for="customCheck1"></label>#}
    {#                                        <h5 class="ml-2 pt-1">Will you require sponsorship for work authorization in the#}
    {#                                            future?</h5>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <div class="col-md-12">#}
    {#                                    <div class="form-group">#}
    {#                                        <input type="submit" value="Submit" class="btn btn-lg btn-block">#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </form>#}
    {#    </section>#}
{% endblock content %}