{% extends '_base.html' %}

{% block title %}{{ job.title }}{% endblock title %}

{% block content %}
    <div class="job-detail">
        <div class="container my-3">
            <h4 class="text-muted">{{ job.location }}</h4>
            <div class="row">
                <div class="col">
                    <h1 class="display-4">{{ job.title }}</h1>
                    <h3>Job Description</h3>
                    <p class="lead">{{ job.description }}</p>
                    <h3>Technical Requirements</h3>
                    <p class="lead">{{ job.technical_requirements }}</p>
                    <h3>Bonus Qualifications</h3>
                    <p class="lead">{{ job.bonus_qualifications }}</p>
                </div>
            </div>
            <h2 class="my-2">List of Applicants</h2>
            <div class="row">
                <div class="col-md-12 ml-3">
                    {% for applicant in job.applicants.all %}
                        <a href="#"><p class="lead">{{ applicant.first_name }} {{ applicant.last_name }}</p></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}