{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Application{% endblock title %}

{% block content %}
    <h2 class="mt-4">Scalp Trade Application</h2>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button class="btn btn-success" type="submit">Apply</button>
    </form>
    Hello?
        {% for job in job_list %}
            {{ job.title }}
        {% endfor %}
{% endblock content %}